.h1 {
    color: #1ba098;
    left: 710px;
    position: relative;
    font-family: "Mulish";
    font: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
  }

  .newActions button{
    /* color: #ffffff; */
 background-color: #1ba098;
 position: relative;
 left: 120px;
 width: 103px;
 height: 32px;
 border-radius: 10.2875px;

 font-family: "Mulish";
 font-style: normal;
 font-weight: 400;
 font-size: 16.2439px;
 line-height: 150%;
 /* or 24px */

 align-items: center;
 text-align: center;

 color: rgba(255, 255, 255, 0.75);

}